<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0"/>
<meta name="description" content="{{ $.Site.Params.description }}"/>
<meta name="keywords" content="{{ $.Site.Params.keywords }}"/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ "assets/style.css" | absURL }}"/>
<link rel="stylesheet" href="{{ "assets/style-plus.css" | absURL }}"/>

<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png"/>
<link rel="manifest" href="/img/favicon/site.webmanifest"/>

<!-- Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}

<!-- top -->
<span id="top"></span>
<!-- head custom -->
{{- partial "extended_head.html" . }}
